################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevPractice/.vs
/DevPractice/HelloWorld/obj
/DevPractice/HelloWorld/bin
